<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>View/Create AddressBook/Buddies</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="spa.js"></script>
</head>
<body>
<h1>Create/View AddressBook</h1>
<form action="#" th:action="@{/addressBookCreate}" th:object="${addressBook}" method="post">
  <p><input type="submit" value="Submit" /></p>
</form>
<p class="addressbook-id"></p>
<p class="addressbook-contents"></p>
<h1>Create Buddy</h1>
<form action="#" th:action="@{/buddyAdd}" th:object="${buddy}" method="post">
  <p>Name: <input type="text" th:field="*{name}" /></p>
  <p>Phone Number: <input type="text" th:field="*{phoneNumber}" /></p>
  <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
</form>
</body>
</html>